body {
	background: #485563; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #485563 , #29323c); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #485563 , #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: sans-serif;
	margin: 0;
}

.ctrl {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 20px;
	background: rgba(0,0,0,.9);
	color: white;
	z-index: 1000;
	margin: 0;
}

.ctrl p {
	display: inline-block;
	margin: 0;
}

.ctrl > * + .ctrl > * {
	margin-left: 20px;
}

h1 {
	margin: 0;
	line-height: 1;
	font-size: 25px;
	display: inline-block;
}

.grid {
	overflow: hidden;
	margin: 15px 15px 15px;
	padding-bottom: 80px;
}

.cell {
	float: left;
	width: calc(2% / 12 * 100);
	padding: 15px;
	box-sizing: border-box;
}

.icon {
	opacity: .8;
	padding: 50px;
	background: rgba(0,0,0,.3);
	box-sizing: border-box;
	transition: .3s;
	border-radius: 2px;
	overflow: hidden;
	box-shadow: 0 0 1px #222;
}

.icon:hover {
	box-shadow: 0 0 25px #222;
}

.icon svg {
	width: 100%;
}

.icon path {
	fill: white;
}
